<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.AuditMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.Audit">
    <id column="aud_id" jdbcType="VARCHAR" property="audId" />
    <result column="aud_fk_id" jdbcType="VARCHAR" property="audFkId" />
    <result column="aud_comtype" jdbcType="VARCHAR" property="audComtype" />
    <result column="qc_fk_id" jdbcType="VARCHAR" property="qcFkId" />
    <result column="aud_time" jdbcType="TIMESTAMP" property="audTime" />
    <result column="aud_state" jdbcType="VARCHAR" property="audState" />
    <result column="aud_idea" jdbcType="VARCHAR" property="audIdea" />
    <result column="aud_name" jdbcType="VARCHAR" property="audName" />
    <result column="aud_mes" jdbcType="VARCHAR" property="audMes" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="whol_amount" jdbcType="INTEGER" property="wholAmount" />
    <result column="whol_price" jdbcType="NUMERIC" property="wholPrice" />
    <result column="buy_money" jdbcType="DECIMAL" property="buyMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    aud_id, aud_fk_id, aud_comtype, qc_fk_id, aud_time, aud_state, aud_idea, aud_name, 
    aud_mes, isva, optime, oper, sort
  </sql>
  
  <select id="findAll" parameterType="java.util.Map" resultMap="BaseResultMap" >
  	select * from drug_audit
  	order by sort desc 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  
  </select>
  
  <select id="findCount" parameterType="com.yidu.domain.Audit" resultType="Integer">
  	select count(*) from drug_audit 
  	
  </select>
  
  <select id="findById" parameterType="string" resultMap="BaseResultMap">
  	SELECT * FROM  drug_buy a,drug_audit b WHERE a.buy_id=b.aud_fk_id AND a.buy_id=#{aud_fk_id}
  </select>
  
  <select id="showBuy" parameterType="java.util.Map" resultMap="BaseResultMap" >
  	SELECT * FROM drug_audit a ,drug_buy b WHERE b.buy_type = 1 AND a.aud_fk_id = b.buy_id 
	AND a.aud_state IN (0,1,2)
  	ORDER BY a.sort DESC 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  
  </select>
  
  <select id="showCEO" parameterType="java.util.Map" resultMap="BaseResultMap" >
  	
	SELECT * FROM drug_audit a ,drug_buy b where b.buy_type = 1 and a.aud_fk_id = b.buy_id 
	and a.aud_state IN (2,11,12)
  	ORDER BY a.sort DESC 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  
  </select>
  
  <select id="findSale" parameterType="java.util.Map" resultMap="BaseResultMap" >
  	SELECT * FROM drug_audit a ,drug_buy b where b.buy_type = 1 and a.aud_fk_id = b.buy_id 
	and a.aud_state IN (12,13,14)
  	ORDER BY a.sort DESC 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  
  </select>
  
  <select id="findCEO" parameterType="java.util.Map" resultMap="BaseResultMap" >
  	
	SELECT * FROM drug_audit a ,drug_buy b where b.buy_type = 1 and a.aud_fk_id = b.buy_id 
	and  a.aud_state IN (14,15,16)
  	ORDER BY a.sort DESC  
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  
  </select>
  
  <select id="showList" parameterType="map" resultMap="BaseResultMap">
  	SELECT * FROM drug_audit a,drug_buy b WHERE a.qc_fk_id=b.buy_id AND a.qc_fk_id=#{audit.qcFkId}
  </select>
  
  
  <select id="selectCount" parameterType="com.yidu.domain.Audit" resultType="int">
  	SELECT count(*) FROM drug_audit a,drug_buy b WHERE a.qc_fk_id=b.buy_id AND a.qc_fk_id=#{qcFkId}
  </select>
  
  
  <select id="wholeceo" parameterType="java.util.Map" resultMap="BaseResultMap" >
  	SELECT * FROM drug_audit da,drug_wholesale dw WHERE da.aud_fk_id=dw.whol_id
	and da.aud_state in (28,29,30)
  	ORDER BY da.sort DESC 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  </select>
  
  <select id="financeo" parameterType="java.util.Map" resultMap="BaseResultMap" >
   	SELECT * FROM drug_audit da,drug_wholesale dw WHERE da.aud_fk_id=dw.whol_id
	and da.aud_state in (29,32,31)
  	ORDER BY da.sort DESC 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  </select>
  
  <update id="finanupdate" >
  	 update drug_audit set aud_state = 31
	 where aud_id = #{audId,jdbcType=VARCHAR}
  </update>
  
  <update id="wholeceoupdate" >
  	 update drug_audit set aud_state = 29
	 where aud_id = #{audId,jdbcType=VARCHAR}
  </update>
  
  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_audit
    where aud_id = #{audId,jdbcType=VARCHAR}
  </select>
  
  <select id="findByFk" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_audit
    where aud_fk_id = #{audFkId,jdbcType=VARCHAR}
    <if test="type == 0">
    	and aud_state in ('10110','10111')
    </if>
    <if test="type == 1">
    	and aud_state in ('10010','10011')
    </if>
    order by optime desc limit 1
  </select>
  
  <select id="findDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from drug_audit
    where qc_fk_id = #{comId,jdbcType=VARCHAR} and aud_fk_id = #{audFkId,jdbcType=VARCHAR}
    <if test="type == 0">
    	and aud_state in ('10110','10111','10112','10113')
    </if>
    <if test="type == 1">
    	and aud_state in ('10010','10011','10012','10013')
    </if>
    order by (sort+0) desc 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  </select>
  
  <select id="findDetailCount" parameterType="java.util.Map" resultType="int">
    select 
    count(aud_id)
    from drug_audit
    where qc_fk_id = #{comId,jdbcType=VARCHAR} and aud_fk_id = #{audFkId,jdbcType=VARCHAR}
    <if test="type == 0">
    	and aud_state in ('10110','10111','10112','10113')
    </if>
    <if test="type == 1">
    	and aud_state in ('10010','10011','10012','10013')
    </if>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_audit
    where aud_id = #{audId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.domain.Audit">
  	<selectKey keyProperty="audId" resultType="string" order="BEFORE">
	    SELECT REPLACE(UUID(),'-','') AS id;
	</selectKey>
    insert into drug_audit (aud_id, aud_fk_id, aud_comtype, 
      qc_fk_id, aud_time, aud_state, 
      aud_idea, aud_name, aud_mes, 
      isva, optime, oper, 
      sort)
    values (#{audId,jdbcType=VARCHAR}, #{audFkId,jdbcType=VARCHAR}, #{audComtype,jdbcType=VARCHAR}, 
      #{qcFkId,jdbcType=VARCHAR}, #{audTime,jdbcType=TIMESTAMP}, #{audState,jdbcType=VARCHAR}, 
      #{audIdea,jdbcType=VARCHAR}, #{audName,jdbcType=VARCHAR}, #{audMes,jdbcType=VARCHAR}, 
      #{isva,jdbcType=VARCHAR}, #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, 
      #{sort,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.domain.Audit">
  	<selectKey keyProperty="audId" resultType="string" order="BEFORE">
	    SELECT REPLACE(UUID(),'-','') AS id;
	</selectKey>
    insert into drug_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="audId != null">
        aud_id,
      </if>
      <if test="audFkId != null">
        aud_fk_id,
      </if>
      <if test="audComtype != null">
        aud_comtype,
      </if>
      <if test="qcFkId != null">
        qc_fk_id,
      </if>
      <if test="audTime != null">
        aud_time,
      </if>
      <if test="audState != null">
        aud_state,
      </if>
      <if test="audIdea != null">
        aud_idea,
      </if>
      <if test="audName != null">
        aud_name,
      </if>
      <if test="audMes != null">
        aud_mes,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="audId != null">
        #{audId,jdbcType=VARCHAR},
      </if>
      <if test="audFkId != null">
        #{audFkId,jdbcType=VARCHAR},
      </if>
      <if test="audComtype != null">
        #{audComtype,jdbcType=VARCHAR},
      </if>
      <if test="qcFkId != null">
        #{qcFkId,jdbcType=VARCHAR},
      </if>
      <if test="audTime != null">
        #{audTime,jdbcType=TIMESTAMP},
      </if>
      <if test="audState != null">
        #{audState,jdbcType=VARCHAR},
      </if>
      <if test="audIdea != null">
        #{audIdea,jdbcType=VARCHAR},
      </if>
      <if test="audName != null">
        #{audName,jdbcType=VARCHAR},
      </if>
      <if test="audMes != null">
        #{audMes,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.Audit">
    update drug_audit
    <set>
      <if test="audFkId != null">
        aud_fk_id = #{audFkId,jdbcType=VARCHAR},
      </if>
      <if test="audComtype != null">
        aud_comtype = #{audComtype,jdbcType=VARCHAR},
      </if>
      <if test="qcFkId != null">
        qc_fk_id = #{qcFkId,jdbcType=VARCHAR},
      </if>
      <if test="audTime != null">
        aud_time = #{audTime,jdbcType=TIMESTAMP},
      </if>
      <if test="audState != null">
        aud_state = #{audState,jdbcType=VARCHAR},
      </if>
      <if test="audIdea != null">
        aud_idea = #{audIdea,jdbcType=VARCHAR},
      </if>
      <if test="audName != null">
        aud_name = #{audName,jdbcType=VARCHAR},
      </if>
      <if test="audMes != null">
        aud_mes = #{audMes,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where aud_id = #{audId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.Audit">
    update drug_audit
    set aud_fk_id = #{audFkId,jdbcType=VARCHAR},
      aud_comtype = #{audComtype,jdbcType=VARCHAR},
      qc_fk_id = #{qcFkId,jdbcType=VARCHAR},
      aud_time = #{audTime,jdbcType=TIMESTAMP},
      aud_state = #{audState,jdbcType=VARCHAR},
      aud_idea = #{audIdea,jdbcType=VARCHAR},
      aud_name = #{audName,jdbcType=VARCHAR},
      aud_mes = #{audMes,jdbcType=VARCHAR},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where aud_id = #{audId,jdbcType=VARCHAR}
  </update>
</mapper>