<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.BranchSaleDetailMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.BranchSaleDetail">
    <id column="bsd_id" jdbcType="VARCHAR" property="bsdId" />
    <result column="bs_id" jdbcType="VARCHAR" property="bsId" />
    <result column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="bsd_amount" jdbcType="INTEGER" property="bsdAmount" />
    <result column="bsd_price" jdbcType="VARCHAR" property="bsdPrice" />
    <result column="bsd_total" jdbcType="VARCHAR" property="bsdTotal" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
  </resultMap>
   <resultMap id="BaseResultMap2" type="com.yidu.controller.vo.Series">
    <result column="drug_id" property="drugId" />
    <result column="drug_name" property="name" />
    <result column="indexs"  property="indexs" />
  </resultMap>
  <sql id="Base_Column_List">
    bsd_id, bs_id, drug_id, bsd_amount, bsd_price, bsd_total, isva, optime, oper, sort
  </sql>
  <!-- 自动生长查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_branch_sale_detail
    where bsd_id = #{bsdId,jdbcType=VARCHAR}
  </select>
  <!-- 自动生长删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_branch_sale_detail
    where bsd_id = #{bsdId,jdbcType=VARCHAR}
  </delete>
  <!-- 自动生长增加 -->
  <insert id="insert" parameterType="com.yidu.domain.BranchSaleDetail">
    insert into drug_branch_sale_detail (bsd_id, bs_id, drug_id, 
      bsd_amount, bsd_price, bsd_total, 
      isva, optime, oper, 
      sort)
    values (#{bsdId,jdbcType=VARCHAR}, #{bsId,jdbcType=VARCHAR}, #{drugId,jdbcType=VARCHAR}, 
      #{bsdAmount,jdbcType=INTEGER}, #{bsdPrice,jdbcType=VARCHAR}, #{bsdTotal,jdbcType=VARCHAR}, 
      #{isva,jdbcType=VARCHAR}, #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, 
      #{sort,jdbcType=VARCHAR})
  </insert>
  <!-- 自动生长增加 -->
  <insert id="insertSelective" parameterType="com.yidu.domain.BranchSaleDetail">
    insert into drug_branch_sale_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bsdId != null">
        bsd_id,
      </if>
      <if test="bsId != null">
        bs_id,
      </if>
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="bsdAmount != null">
        bsd_amount,
      </if>
      <if test="bsdPrice != null">
        bsd_price,
      </if>
      <if test="bsdTotal != null">
        bsd_total,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bsdId != null">
        #{bsdId,jdbcType=VARCHAR},
      </if>
      <if test="bsId != null">
        #{bsId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null">
        #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="bsdAmount != null">
        #{bsdAmount,jdbcType=INTEGER},
      </if>
      <if test="bsdPrice != null">
        #{bsdPrice,jdbcType=VARCHAR},
      </if>
      <if test="bsdTotal != null">
        #{bsdTotal,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 自动生长修改后查询-->
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.BranchSaleDetail">
    update drug_branch_sale_detail
    <set>
      <if test="bsId != null">
        bs_id = #{bsId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null">
        drug_id = #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="bsdAmount != null">
        bsd_amount = #{bsdAmount,jdbcType=INTEGER},
      </if>
      <if test="bsdPrice != null">
        bsd_price = #{bsdPrice,jdbcType=VARCHAR},
      </if>
      <if test="bsdTotal != null">
        bsd_total = #{bsdTotal,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where bsd_id = #{bsdId,jdbcType=VARCHAR}
  </update>
  <!-- 自动生长修改 -->
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.BranchSaleDetail">
    update drug_branch_sale_detail
    set bs_id = #{bsId,jdbcType=VARCHAR},
      drug_id = #{drugId,jdbcType=VARCHAR},
      bsd_amount = #{bsdAmount,jdbcType=INTEGER},
      bsd_price = #{bsdPrice,jdbcType=VARCHAR},
      bsd_total = #{bsdTotal,jdbcType=VARCHAR},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where bsd_id = #{bsdId,jdbcType=VARCHAR}
  </update>
  <!-- 查药品名 -->
  <select id="query" parameterType="map" resultMap="BaseResultMap">
  	select sa.*,dr.drug_name from drug_branch_sale_detail sa,drug_drug dr where sa.drug_id=dr.drug_id and  sa.isva='1'
  	<if test=" detail.bsId !=null and detail.bsId !='' ">
  		and sa.bs_id=#{detail.bsId}
  	</if>
  	order by sa.sort desc
  	limit #{page.startRows},#{page.rows}
  </select>
  <!-- 分页查询 -->
  <select id="findCount" parameterType="com.yidu.domain.BranchSaleDetail" resultType="integer">
  	select count(*) from drug_branch_sale_detail where isva='1'
  	<if test="bsId !=null and bsId !='' ">
  		and bs_id=#{bsId}
  	</if>
  </select>
  <!-- 查询 -->
  <select id="queryName" resultMap="BaseResultMap2">
  	select count(*),d.drug_id,d.drug_name from drug_branch_sale_detail s,drug_drug d ,drug_branch_sale b
  	where s.drug_id=d.drug_id 
  	and s.bs_id=b.bs_id
  	and b.com_id=#{id}
  	and year(s.optime)='2018' GROUP BY d.drug_id,d.drug_name
  	order by count(*) desc LIMIT 5
  </select>
  <!-- 根据ID查询 -->
  <select id="queryId" parameterType="map" resultType="integer">
  	select count(*) from drug_branch_sale_detail s,drug_drug d where s.drug_id=d.drug_id and year(s.optime)='2018' and month(s.optime)=#{time} and s.drug_id=#{id}
  </select>
  <select id="queryMoney" parameterType="java.lang.String" resultMap="BaseResultMap2" >
  	select sum(s.bsd_total) as indexs,d.drug_id,d.drug_name from drug_branch_sale_detail s,drug_drug d ,drug_branch_sale b
  	where s.drug_id=d.drug_id 
		and s.bs_id=b.bs_id
		and b.com_id=#{id}
		and year(s.optime)='2018' GROUP BY d.drug_id
  	order by count(*) desc LIMIT 7
  </select>
</mapper>