<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.BuyMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.Buy">
    <id column="buy_id" jdbcType="VARCHAR" property="buyId" />
    <result column="com_id" jdbcType="VARCHAR" property="comId" />
    <result column="buy_amount" jdbcType="INTEGER" property="buyAmount" />
    <result column="buy_money" jdbcType="DECIMAL" property="buyMoney" />
    <result column="buy_time" jdbcType="TIMESTAMP" property="buyTime" />
    <result column="buy_company" jdbcType="VARCHAR" property="buyCompany" />
    <result column="prov_name" jdbcType="VARCHAR" property="provName" />
    <result column="buy_type" jdbcType="VARCHAR" property="buyType" />
    <result column="buy_audit" jdbcType="VARCHAR" property="buyAudit" />
    <result column="buy_state" jdbcType="VARCHAR" property="buyState" />
    <result column="buy_qc" jdbcType="VARCHAR" property="buyQc" />
    <result column="buy_put" jdbcType="VARCHAR" property="buyPut" />
    <result column="buy_mes" jdbcType="VARCHAR" property="buyMes" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
  </resultMap>
  
  <sql id="Base_Column_List">
    buy_id, com_id, buy_amount, buy_money, buy_time, buy_company, buy_type, buy_audit, 
    buy_state, buy_qc, buy_put, buy_mes, isva, optime, oper, sort
  </sql>
  
  <select id="showList" parameterType="map" resultMap="BaseResultMap">
  	SELECT * FROM drug_buy a,drug_provider b WHERE a.buy_company=b.prov_id
  	<if test="buy.buyCompany!=null and buy.buyCompany!='' ">
  		and buy_company like concat("%",#{buy.buyCompany},"%")
  	</if>
  	limit #{page.startRows},#{page.rows}
  </select>
  
  <select id="selectCount" parameterType="com.yidu.domain.Buy" resultType="int">
  	select count(*) from drug_buy a,drug_provider b WHERE a.buy_company=b.prov_id
  	<if test="buyCompany!=null and buyCompany!='' ">
  		and buy_company like concat("%",#{buyCompany},"%")
  	</if>
  </select>
  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_buy
    where buy_id = #{buyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_buy
    where buy_id = #{buyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.domain.Buy">
    insert into drug_buy (buy_id, com_id, buy_amount, 
      buy_money, buy_time, buy_company, 
      buy_type, buy_audit, buy_state, 
      buy_qc, buy_put, buy_mes, 
      isva, optime, oper, 
      sort)
    values (#{buyId,jdbcType=VARCHAR}, #{comId,jdbcType=VARCHAR}, #{buyAmount,jdbcType=INTEGER}, 
      #{buyMoney,jdbcType=DECIMAL}, #{buyTime,jdbcType=TIMESTAMP}, #{buyCompany,jdbcType=VARCHAR}, 
      #{buyType,jdbcType=VARCHAR}, #{buyAudit,jdbcType=VARCHAR}, #{buyState,jdbcType=VARCHAR}, 
      #{buyQc,jdbcType=VARCHAR}, #{buyPut,jdbcType=VARCHAR}, #{buyMes,jdbcType=VARCHAR}, 
      #{isva,jdbcType=VARCHAR}, #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, 
      #{sort,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.domain.Buy">
    insert into drug_buy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buyId != null">
        buy_id,
      </if>
      <if test="comId != null">
        com_id,
      </if>
      <if test="buyAmount != null">
        buy_amount,
      </if>
      <if test="buyMoney != null">
        buy_money,
      </if>
      <if test="buyTime != null">
        buy_time,
      </if>
      <if test="buyCompany != null">
        buy_company,
      </if>
      <if test="buyType != null">
        buy_type,
      </if>
      <if test="buyAudit != null">
        buy_audit,
      </if>
      <if test="buyState != null">
        buy_state,
      </if>
      <if test="buyQc != null">
        buy_qc,
      </if>
      <if test="buyPut != null">
        buy_put,
      </if>
      <if test="buyMes != null">
        buy_mes,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buyId != null">
        #{buyId,jdbcType=VARCHAR},
      </if>
      <if test="comId != null">
        #{comId,jdbcType=VARCHAR},
      </if>
      <if test="buyAmount != null">
        #{buyAmount,jdbcType=INTEGER},
      </if>
      <if test="buyMoney != null">
        #{buyMoney,jdbcType=DECIMAL},
      </if>
      <if test="buyTime != null">
        #{buyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyCompany != null">
        #{buyCompany,jdbcType=VARCHAR},
      </if>
      <if test="buyType != null">
        #{buyType,jdbcType=VARCHAR},
      </if>
      <if test="buyAudit != null">
        #{buyAudit,jdbcType=VARCHAR},
      </if>
      <if test="buyState != null">
        #{buyState,jdbcType=VARCHAR},
      </if>
      <if test="buyQc != null">
        #{buyQc,jdbcType=VARCHAR},
      </if>
      <if test="buyPut != null">
        #{buyPut,jdbcType=VARCHAR},
      </if>
      <if test="buyMes != null">
        #{buyMes,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.Buy">
    update drug_buy
    <set>
      <if test="comId != null">
        com_id = #{comId,jdbcType=VARCHAR},
      </if>
      <if test="buyAmount != null">
        buy_amount = #{buyAmount,jdbcType=INTEGER},
      </if>
      <if test="buyMoney != null">
        buy_money = #{buyMoney,jdbcType=DECIMAL},
      </if>
      <if test="buyTime != null">
        buy_time = #{buyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyCompany != null">
        buy_company = #{buyCompany,jdbcType=VARCHAR},
      </if>
      <if test="buyType != null">
        buy_type = #{buyType,jdbcType=VARCHAR},
      </if>
      <if test="buyAudit != null">
        buy_audit = #{buyAudit,jdbcType=VARCHAR},
      </if>
      <if test="buyState != null">
        buy_state = #{buyState,jdbcType=VARCHAR},
      </if>
      <if test="buyQc != null">
        buy_qc = #{buyQc,jdbcType=VARCHAR},
      </if>
      <if test="buyPut != null">
        buy_put = #{buyPut,jdbcType=VARCHAR},
      </if>
      <if test="buyMes != null">
        buy_mes = #{buyMes,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where buy_id = #{buyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.Buy">
    update drug_buy
    set com_id = #{comId,jdbcType=VARCHAR},
      buy_amount = #{buyAmount,jdbcType=INTEGER},
      buy_money = #{buyMoney,jdbcType=DECIMAL},
      buy_time = #{buyTime,jdbcType=TIMESTAMP},
      buy_company = #{buyCompany,jdbcType=VARCHAR},
      buy_type = #{buyType,jdbcType=VARCHAR},
      buy_audit = #{buyAudit,jdbcType=VARCHAR},
      buy_state = #{buyState,jdbcType=VARCHAR},
      buy_qc = #{buyQc,jdbcType=VARCHAR},
      buy_put = #{buyPut,jdbcType=VARCHAR},
      buy_mes = #{buyMes,jdbcType=VARCHAR},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where buy_id = #{buyId,jdbcType=VARCHAR}
  </update>
</mapper>