<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.Company">
    <id column="com_id" jdbcType="VARCHAR" property="comId" />
    <result column="com_name" jdbcType="VARCHAR" property="comName" />
    <result column="com_phone" jdbcType="VARCHAR" property="comPhone" />
    <result column="com_address" jdbcType="VARCHAR" property="comAddress" />
    <result column="com_type" jdbcType="VARCHAR" property="comType" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    com_id, com_name, com_phone, com_address, com_type, isva, optime, oper, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_company
    where com_id = #{comId,jdbcType=VARCHAR}
  </select>
	<!-- 分店分页以及模糊查询 -->
  <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
  	select * from  drug_company WHERE isva IN (0,1)
  	
	  		<if test="company.comName != null and company.comName != '' ">
	  		and com_name like concat('%',#{company.comName},'%')
	  	</if>
  	
  	limit #{pageUtil.startRows},#{pageUtil.rows}
  </select>
  <!-- 查询总共多少条数据 -->
  <select id="selectCount" parameterType="com.yidu.domain.Company" resultType="int">
    select 
    count(*) 
    from drug_company WHERE isva IN (0,1)

  </select>
  <!-- 根据条件为分店和状态为0的查询总共多少条数据 -->
  <select id="checkselectCount" parameterType="com.yidu.domain.Company" resultType="int">
    select  count(*) from drug_company WHERE com_type='1' AND isva='0'

  </select>
  <!--根据条件为分店和状态为0的审核分页以及模糊查询  -->
  <select id="checkselectAll" parameterType="map" resultMap="BaseResultMap">
  SELECT * FROM  drug_company WHERE com_type='1' AND isva='0' 
  
	  		<if test="company.comName != null and company.comName != '' ">
	  		AND com_name like concat('%',#{company.comName},'%')
	  	</if>

  	limit #{pageUtil.startRows},#{pageUtil.rows}
  </select>
  <!-- 分店批量修改为0 -->
  <update id="companyDeleteByPrimaryKeySelective">
    update drug_company set isva = '0'
    where com_id in 
    <foreach collection="list" item="ids" open="(" separator="," close=")">
      #{ids} 
    </foreach> 
  </update>
  <!-- 审核批量修改为1 -->
   <update id="checkcompanyDeleteByPrimaryKeySelective">
    update drug_company set isva = '1'
    where com_id in 
    <foreach collection="list" item="ids" open="(" separator="," close=")">
      #{ids} 
    </foreach> 
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_company
    where com_id = #{comId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.domain.Company">
    insert into drug_company (com_id, com_name, com_phone, 
      com_address, com_type, isva, 
      optime, oper, sort
      )
    values (#{comId,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR}, #{comPhone,jdbcType=VARCHAR}, 
      #{comAddress,jdbcType=VARCHAR}, #{comType,jdbcType=VARCHAR}, #{isva,jdbcType=VARCHAR}, 
      #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.domain.Company">
    insert into drug_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="comId != null">
        com_id,
      </if>
      <if test="comName != null">
        com_name,
      </if>
      <if test="comPhone != null">
        com_phone,
      </if>
      <if test="comAddress != null">
        com_address,
      </if>
      <if test="comType != null">
        com_type,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="comId != null">
        #{comId,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comPhone != null">
        #{comPhone,jdbcType=VARCHAR},
      </if>
      <if test="comAddress != null">
        #{comAddress,jdbcType=VARCHAR},
      </if>
      <if test="comType != null">
        #{comType,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.Company">
    update drug_company
    <set>
      <if test="comName != null">
        com_name = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comPhone != null">
        com_phone = #{comPhone,jdbcType=VARCHAR},
      </if>
      <if test="comAddress != null">
        com_address = #{comAddress,jdbcType=VARCHAR},
      </if>
      <if test="comType != null">
        com_type = #{comType,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where com_id = #{comId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.Company">
    update drug_company
    set com_name = #{comName,jdbcType=VARCHAR},
      com_phone = #{comPhone,jdbcType=VARCHAR},
      com_address = #{comAddress,jdbcType=VARCHAR},
      com_type = #{comType,jdbcType=VARCHAR},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where com_id = #{comId,jdbcType=VARCHAR}
  </update>
  
  <select id="findDeId" parameterType="string" resultMap="BaseResultMap">
  SELECT * FROM drug_audit a,drug_company b WHERE a.qc_fk_id=b.com_id AND a.qc_fk_id=#{comId}
  </select>
</mapper>