<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.DrugMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.Drug">
    <id column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="dt_id" jdbcType="VARCHAR" property="dtId" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="drug_unit" jdbcType="VARCHAR" property="drugUnit" />
    <result column="drug_prop" jdbcType="VARCHAR" property="drugProp" />
    <result column="drug_pictrue" jdbcType="VARCHAR" property="drugPictrue" />
    <result column="drug_price" jdbcType="DECIMAL" property="drugPrice" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
  </resultMap>
  <resultMap id="BaseResultMapOne" type="com.yidu.domain.Drug">
    <id column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="dt_id" jdbcType="VARCHAR" property="dtId" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="drug_unit" jdbcType="VARCHAR" property="drugUnit" />
    <result column="drug_prop" jdbcType="VARCHAR" property="drugProp" />
    <result column="drug_pictrue" jdbcType="VARCHAR" property="drugPictrue" />
    <result column="drug_price" jdbcType="DECIMAL" property="drugPrice" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="dt_name" jdbcType="VARCHAR" property="dtName" />
    <result column="di_amount" jdbcType="INTEGER" property="diAmount"/>
    <result column="com_id" jdbcType="VARCHAR" property="comId"/>
    <result column="aud_Id" jdbcType="VARCHAR" property="audId" />
    <result column="aud_state" jdbcType="VARCHAR" property="audState" />
  </resultMap>
  
  <sql id="Base_Column_List">
    drug_id, dt_id, drug_name, drug_unit, drug_prop, drug_pictrue, drug_price, 
    isva, optime, oper, sort
  </sql>
  
  <sql id="Base_Column_List_One">
    dd.drug_id, dd.dt_id, dd.drug_name, dd.drug_unit, dd.drug_prop, dd.drug_pictrue, dd.drug_price, 
    dd.isva, dd.optime, dd.oper, dd.sort, dt.dt_name
  </sql>
  
   <sql id="Base_Column_List_Tne">
    dd.drug_id, dd.dt_id, dd.drug_name, dd.drug_unit, dd.drug_prop, dd.drug_pictrue, dd.drug_price, 
    dd.isva, dd.optime, dd.oper, dd.sort, dt.dt_name,di.di_amount,di.di_amount,dc.com_id
  </sql>
  
  <sql id="Base_Column_List_Three">
    dd.drug_id, dd.dt_id, dd.drug_name, dd.drug_unit, dd.drug_prop, dd.drug_pictrue, dd.drug_price, 
    dd.isva, dd.optime, dd.oper, dd.sort, da.aud_state, da.aud_id, dt.dt_name
  </sql>
  
  <sql id="Base_Column_List_Four">
    dd.drug_id, dd.dt_id, dd.drug_name, dd.drug_unit, dd.drug_prop, dd.drug_pictrue, dd.drug_price, 
    dd.isva, dd.optime, dd.oper, dd.sort, da.aud_state, da.aud_id
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_drug
    where drug_id = #{drugId,jdbcType=VARCHAR} and isva = '1'
  </select>
  
  <select id="selectBySelective" parameterType="java.util.Map" resultMap="BaseResultMapOne">
    select 
    <include refid="Base_Column_List_One" />
    from drug_drug dd,drug_drug_type dt
    where dd.dt_id = dt.dt_id and dd.isva = '1'
   	<if test="record.drugName != null and record.drugName != ''">
   		and dd.drug_name like CONCAT(CONCAT('%',#{record.drugName,jdbcType=VARCHAR},'%'))
   	</if>
   	<if test="record.dtId != null and record.dtId != ''">
   		and dt.dt_id = #{record.dtId,jdbcType=VARCHAR}
   	</if>
   	<if test="record.priceMin !=null and record.priceMin != ''">
   		and dd.drug_price &gt; #{record.priceMin,jdbcType=DECIMAL}
   	</if>
   	<if test="record.priceMax !=null and record.priceMax !='' ">
   		and dd.drug_price &lt; #{record.priceMax,jdbcType=DECIMAL}
   	</if>
   	order by (dd.sort+0) desc 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  </select>
  
  <select id="selectCountBySelective" parameterType="com.yidu.domain.Drug" resultType="int">
    select 
    count(*) 
    from drug_drug dd,drug_drug_type dt
    where dd.dt_id = dt.dt_id and dd.isva = '1'
   	<if test="drugName != null and drugName != ''">
   		and dd.drug_name like CONCAT(CONCAT('%',#{drugName,jdbcType=VARCHAR},'%'))
   	</if>
   	<if test="dtId != null and dtId != ''">
   		and dt.dt_id = #{dtId,jdbcType=VARCHAR}
   	</if>
   	<if test="priceMin !=null and priceMin !=''">
   		and dd.drug_price &gt; #{priceMin,jdbcType=DECIMAL}
   	</if>
   	<if test="priceMax !=null and priceMax !=''">
   		and dd.drug_price &lt; #{priceMax,jdbcType=DECIMAL}
   	</if>
  </select>
  
  <select id="selectBySelectives" parameterType="java.util.Map" resultMap="BaseResultMapOne">
    select 
    <include refid="Base_Column_List_Tne" />
    from drug_drug dd,drug_drug_type dt,drug_drug_inv di,drug_company dc
    where dd.dt_id = dt.dt_id and di.drug_id=dd.drug_id and dc.com_id=di.com_id and dd.isva = '1'
   	<if test="record.drugName != null and record.drugName != ''">
   		and dd.drug_name like CONCAT(CONCAT('%',#{record.drugName,jdbcType=VARCHAR},'%'))
   	</if>
   	<if test="record.dtId != null and record.dtId != ''">
   		and dt.dt_id = #{record.dtId,jdbcType=VARCHAR}
   	</if>
   	<if test="record.priceMin !=null and record.priceMin != ''">
   		and dd.drug_price &gt; #{record.priceMin,jdbcType=DECIMAL}
   	</if>
   	<if test="record.comId !=null and record.comId != ''">
   		and dc.com_id = #{record.comId,jdbcType=VARCHAR}
   	</if>
   	<if test="record.priceMax !=null and record.priceMax !='' ">
   		and dd.drug_price &lt; #{record.priceMax,jdbcType=DECIMAL}
   	</if>
   	order by (dd.sort+0) desc 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  </select>
  
  
  <select id="check" parameterType="String" resultType="int">
  	select count(dd.drug_Id) from drug_drug dd,drug_spec ds,drug_material_list ml 
  	where ds.drug_id = dd.drug_id and ml.drug_id = dd.drug_id and dd.drug_id = #{drugId,jdbcType=VARCHAR} and dd.isva = '1' and ds.isva = '1' and ml.isva = '1'
  </select>
  
  <select id="isCheck" parameterType="String" resultMap="BaseResultMapOne">
  	select 
  	<include refid="Base_Column_List_Four" />
  	from drug_drug dd,drug_audit da 
  	where dd.drug_id = da.aud_fk_id and dd.drug_id = #{drugId,jdbcType=VARCHAR} and dd.isva = '1' and da.isva = '1'
  	order by da.optime desc limit 1
  </select>
  
  <select id="selectByAudit" parameterType="java.util.Map" resultMap="BaseResultMapOne">
    select 
    <include refid="Base_Column_List_Three" />
    from drug_drug dd,drug_audit da,drug_drug_type dt
    where dd.drug_id = da.aud_fk_id and dd.dt_id = dt.dt_id and dd.isva = '1' and da.isva = '1'
   	<if test="record.drugName != null and record.drugName != ''">
   		and dd.drug_name like CONCAT(CONCAT('%',#{record.drugName,jdbcType=VARCHAR},'%'))
   	</if>
   	<if test="record.priceMin !=null and record.priceMin != ''">
   		and dd.drug_price &gt; #{record.priceMin,jdbcType=DECIMAL}
   	</if>
   	<if test="record.priceMax !=null and record.priceMax !='' ">
   		and dd.drug_price &lt; #{record.priceMax,jdbcType=DECIMAL}
   	</if>
   	order by (da.sort+0) desc 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  </select>
  
  <select id="selectAuditCount" parameterType="com.yidu.domain.Drug" resultType="int">
    select 
    count(dd.drug_id)
    from drug_drug dd,drug_audit da,drug_drug_type dt
    where dd.drug_id = da.aud_fk_id and dd.dt_id = dt.dt_id and dd.isva = '1' and da.isva = '1'
   	<if test="drugName != null and drugName != ''">
   		and dd.drug_name like CONCAT(CONCAT('%',#{drugName,jd4	bcType=VARCHAR},'%'))
   	</if>
   	<if test="priceMin !=null and priceMin != ''">
   		and dd.drug_price &gt; #{priceMin,jdbcType=DECIMAL}
   	</if>
   	<if test="priceMax !=null and priceMax !='' ">
   		and dd.drug_price &lt; #{priceMax,jdbcType=DECIMAL}
   	</if>
  </select>
  
  <select id="findChecked" parameterType="java.util.Map" resultMap="BaseResultMapOne">
    select 
    <include refid="Base_Column_List_One" />
    from drug_drug dd,drug_audit da,drug_drug_type dt 
    where dd.drug_id = da.aud_fk_id and dd.dt_id = dt.dt_id and da.aud_state = '10011' and dd.isva = '1' and da.isva = '1'
   	<if test="record.drugName != null and record.drugName != ''">
   		and dd.drug_name like CONCAT(CONCAT('%',#{record.drugName,jdbcType=VARCHAR},'%'))
   	</if>
   	<if test="record.dtId != null and record.dtId != ''">
   		and dt.dt_id = #{record.dtId,jdbcType=VARCHAR}
   	</if>
   	<if test="record.priceMin !=null and record.priceMin != ''">
   		and dd.drug_price &gt; #{record.priceMin,jdbcType=DECIMAL}
   	</if>
   	<if test="record.priceMax !=null and record.priceMax !='' ">
   		and dd.drug_price &lt; #{record.priceMax,jdbcType=DECIMAL}
   	</if>
   	order by (dd.sort+0) desc 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  </select>
  
  <select id="findCheckedCount" parameterType="com.yidu.domain.Drug" resultType="int">
    select 
    count(dd.drug_id) 
    from drug_drug dd,drug_audit da,drug_drug_type dt 
    where dd.drug_id = da.aud_fk_id and dd.dt_id = dt.dt_id and da.aud_state = '10011' and dd.isva = '1' and da.isva = '1'
   	<if test="drugName != null and drugName != ''">
   		and dd.drug_name like CONCAT(CONCAT('%',#{drugName,jdbcType=VARCHAR},'%'))
   	</if>
   	<if test="dtId != null and dtId != ''">
   		and dt.dt_id = #{dtId,jdbcType=VARCHAR}
   	</if>
   	<if test="priceMin !=null and priceMin !=''">
   		and dd.drug_price &gt; #{priceMin,jdbcType=DECIMAL}
   	</if>
   	<if test="priceMax !=null and priceMax !=''">
   		and dd.drug_price &lt; #{priceMax,jdbcType=DECIMAL}
   	</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_drug
    where drug_id = #{drugId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.yidu.domain.Drug">
  	<selectKey keyProperty="drugId" resultType="string" order="BEFORE">
	    SELECT REPLACE(UUID(),'-','') AS id;
	</selectKey>
    insert into drug_drug (drug_id, dt_id, 
      drug_name, drug_unit, drug_prop, 
      drug_pictrue, drug_price, isva, 
      optime, oper, sort
      )
    values (#{drugId,jdbcType=VARCHAR}, #{dtId,jdbcType=VARCHAR}, 
      #{drugName,jdbcType=VARCHAR}, #{drugUnit,jdbcType=VARCHAR}, #{drugProp,jdbcType=VARCHAR}, 
      #{drugPictrue,jdbcType=VARCHAR}, #{drugPrice,jdbcType=DECIMAL}, #{isva,jdbcType=VARCHAR}, 
      #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.yidu.domain.Drug">
  	<selectKey keyProperty="drugId" resultType="string" order="BEFORE">
	    SELECT REPLACE(UUID(),'-','') AS id;
	</selectKey>
    insert into drug_drug
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="dtId != null">
        dt_id,
      </if>
      <if test="drugName != null">
        drug_name,
      </if>
      <if test="drugUnit != null">
        drug_unit,
      </if>
      <if test="drugProp != null">
        drug_prop,
      </if>
      <if test="drugPictrue != null">
        drug_pictrue,
      </if>
      <if test="drugPrice != null">
        drug_price,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drugId != null">
        #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="dtId != null">
        #{dtId,jdbcType=VARCHAR},
      </if>
      <if test="drugName != null">
        #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="drugUnit != null">
        #{drugUnit,jdbcType=VARCHAR},
      </if>
      <if test="drugProp != null">
        #{drugProp,jdbcType=VARCHAR},
      </if>
      <if test="drugPictrue != null">
        #{drugPictrue,jdbcType=VARCHAR},
      </if>
      <if test="drugPrice != null">
        #{drugPrice,jdbcType=DECIMAL},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="bulkDeleteByPrimaryKeySelective">
    update drug_drug set isva = '0',optime = sysdate() 
    where drug_id in 
    <foreach collection="list" item="ids" open="(" separator="," close=")">
      #{ids} 
    </foreach> 
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.Drug">
    update drug_drug
    <set>
      <if test="dtId != null">
        dt_id = #{dtId,jdbcType=VARCHAR},
      </if>
      <if test="drugName != null">
        drug_name = #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="drugUnit != null">
        drug_unit = #{drugUnit,jdbcType=VARCHAR},
      </if>
      <if test="drugProp != null">
        drug_prop = #{drugProp,jdbcType=VARCHAR},
      </if>
      <if test="drugPictrue != null">
        drug_pictrue = #{drugPictrue,jdbcType=VARCHAR},
      </if>
      <if test="drugPrice != null">
        drug_price = #{drugPrice,jdbcType=DECIMAL},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where drug_id = #{drugId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.Drug">
    update drug_drug
    set dt_id = #{dtId,jdbcType=VARCHAR},
      drug_name = #{drugName,jdbcType=VARCHAR},
      drug_unit = #{drugUnit,jdbcType=VARCHAR},
      drug_prop = #{drugProp,jdbcType=VARCHAR},
      drug_pictrue = #{drugPictrue,jdbcType=VARCHAR},
      drug_price = #{drugPrice,jdbcType=DECIMAL},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where drug_id = #{drugId,jdbcType=VARCHAR}
  </update>
</mapper>