<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.DrugInveMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.DrugInve">
    <id column="di_id" jdbcType="VARCHAR" property="diId" />
    <result column="com_id" jdbcType="VARCHAR" property="comId" />
    <result column="drug_id" jdbcType="VARCHAR" property="drugId" />
     <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
      <result column="dt_name" jdbcType="VARCHAR" property="typeName" />
    <result column="di_amount" jdbcType="INTEGER" property="diAmount" />
    <result column="di_comtype" jdbcType="VARCHAR" property="diComtype" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    di_id, com_id, drug_id, di_amount, di_comtype, isva, optime, oper, sort
  </sql>
  
  <select id="findselect" parameterType="com.yidu.domain.DrugInve" resultMap="BaseResultMap">
  	SELECT dd.drug_name,dc.com_name,di.* FROM drug_drug dd,drug_drug_inv di,drug_company dc WHERE di.drug_id=dd.drug_id
	AND dc.com_id=di.com_id
	AND dc.com_id=#{comId,jdbcType=VARCHAR} AND dd.drug_id=#{drugId,jdbcType=VARCHAR}
  </select>
  
  
   <select id="selectDrugId" parameterType="java.lang.String"  resultMap="BaseResultMap" >
  	select 
    *
    from drug_drug_inv
    where drug_id = #{drugId,jdbcType=VARCHAR}
  </select>
  
  
  
  <select id="findDrug" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    *
    from drug_drug_inv
    where drug_id = #{drugId,jdbcType=VARCHAR}
  </select>
  
  <update id="amountupdate" parameterType="com.yidu.domain.DrugInve">
  		update drug_drug_inv set di_amount=di_amount-#{diAmount,jdbcType=VARCHAR} where di_Id=#{diId,jdbcType=VARCHAR}
  </update>
  
  <select id="qureyAll"  parameterType="java.util.Map"   resultMap="BaseResultMap">
    SELECT  * FROM   drug_drug_inv  a  , drug_drug b   ,drug_drug_type c  WHERE  a.drug_id =b.drug_id  AND  b.dt_id =c.dt_id 
    <if test="drugInve.typeName != null and drugInve.typeName != ''">
   		and b.drug_name like CONCAT(CONCAT('%',#{drugInve.drugName,jdbcType=VARCHAR},'%'))
   	</if>
   	<if test="drugInve.typeName != null and drugInve.typeName != ''">
   		and c.dt_name like CONCAT(CONCAT('%',#{drugInve.dt_name,jdbcType=VARCHAR},'%'))
   	</if> 
   	order by (a.sort+0) desc 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER} 
  </select>
  
  <select id="selectCountBySelective" parameterType="com.yidu.domain.DrugInve" resultType="int">
    SELECT  count(*)FROM   drug_drug_inv  a  , drug_drug b   ,drug_drug_type c  WHERE  a.drug_id =b.drug_id  AND  b.dt_id =c.dt_id 
    <if test="typeName != null and typeName != ''">
   		and b.drug_name like CONCAT(CONCAT('%',#{drugName,jdbcType=VARCHAR},'%'))
   	</if>
   	<if test="typeName != null and typeName != ''">
   		and c.dt_name like CONCAT(CONCAT('%',#{dt_name,jdbcType=VARCHAR},'%'))
   	</if> 
  </select>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_drug_inv
    where di_id = #{diId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_drug_inv
    where di_id = #{diId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.domain.DrugInve">
    insert into drug_drug_inv (di_id, com_id, drug_id, di_amount, di_comtype, isva, optime, oper, sort )
    values (#{diId,jdbcType=VARCHAR}, #{comId,jdbcType=VARCHAR}, #{drugId,jdbcType=VARCHAR}, 
      #{diAmount,jdbcType=INTEGER}, #{diComtype,jdbcType=VARCHAR}, #{isva,jdbcType=VARCHAR}, 
      #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}  )
  </insert>
  
  
  
  
  <insert id="insertSelective" parameterType="com.yidu.domain.DrugInve">
    insert into drug_drug_inv
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="diId != null">
        di_id,
      </if>
      <if test="comId != null">
        com_id,
      </if>
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="diAmount != null">
        di_amount,
      </if>
      <if test="diComtype != null">
        di_comtype,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="diId != null">
        #{diId,jdbcType=VARCHAR},
      </if>
      <if test="comId != null">
        #{comId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null">
        #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="diAmount != null">
        #{diAmount,jdbcType=INTEGER},
      </if>
      <if test="diComtype != null">
        #{diComtype,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
   <update id="updateamount" parameterType="com.yidu.domain.DrugInve">
    UPDATE drug_drug_inv SET di_amount = di_amount + #{diAmount,jdbcType=INTEGER} WHERE drug_id = #{drugId,jdbcType=VARCHAR}
  </update>
  
  
  
  
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.DrugInve">
    update drug_drug_inv
    <set>
      <if test="comId != null">
        com_id = #{comId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null">
        drug_id = #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="diAmount != null">
        di_amount = #{diAmount,jdbcType=INTEGER},
      </if>
      <if test="diComtype != null">
        di_comtype = #{diComtype,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where di_id = #{diId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.DrugInve">
    update drug_drug_inv
    set com_id = #{comId,jdbcType=VARCHAR},
      drug_id = #{drugId,jdbcType=VARCHAR},
      di_amount = #{diAmount,jdbcType=INTEGER},
      di_comtype = #{diComtype,jdbcType=VARCHAR},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where di_id = #{diId,jdbcType=VARCHAR}
  </update>
  <select id="findDrugId" parameterType="string" resultMap="BaseResultMap">
  	select * from drug_drug_inv where drug_id=#{drugId}
  </select>
</mapper>