<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.MaterialListMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.MaterialList">
    <id column="ml_id" jdbcType="VARCHAR" property="mlId" />
    <result column="mat_id" jdbcType="VARCHAR" property="matId" />
    <result column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="ml_amount" jdbcType="INTEGER" property="mlAmount" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
  </resultMap>
  <resultMap id="BaseResultMapOne" type="com.yidu.domain.MaterialList">
    <id column="ml_id" jdbcType="VARCHAR" property="mlId" />
    <result column="mat_id" jdbcType="VARCHAR" property="matId" />
    <result column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="dt_id" jdbcType="VARCHAR" property="dtId" />
    <result column="ml_amount" jdbcType="INTEGER" property="mlAmount" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="mat_name" jdbcType="VARCHAR" property="matName" />
    <result column="mat_price" jdbcType="VARCHAR" property="matPrice" />
    <result column="mat_unit" jdbcType="VARCHAR" property="matUnit" />
    <result column="mt_name" jdbcType="VARCHAR" property="mtName" />
    <result column="mat_effect" jdbcType="VARCHAR" property="matEffect" />
  </resultMap>
  <sql id="Base_Column_List">
    ml_id, mat_id, drug_id, ml_amount, isva, optime, oper, sort
  </sql>
  <sql id="Base_Column_List_One">
  	ml.ml_id, ml.mat_id, ml.drug_id, ml.ml_amount, ml.isva, ml.optime, ml.oper, ml.sort, dd.drug_name, mat.mat_name, mat.mat_price, mat.mat_unit, mt.mt_name, mat.mat_effect
  </sql>
  <sql id="Base_Column_List_Two">
  	mat.mat_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_material_list
    where ml_id = #{mlId,jdbcType=VARCHAR}
  </select>
  <select id="selectBydrugId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select  *  from drug_material_list   where drug_id = #{drugId,jdbcType=VARCHAR}
  </select>
  
  
  
  <select id="selectByDrug" parameterType="String" resultMap="BaseResultMapOne">
    select 
    <include refid="Base_Column_List_Two" />
    from drug_material_list ml,drug_material mat where ml.mat_id = mat.mat_id and ml.drug_id = #{drugId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectBySelective" parameterType="java.util.Map" resultMap="BaseResultMapOne">
    select 
    <include refid="Base_Column_List_One" />
    from drug_material_list ml,drug_drug dd,drug_material mat,drug_mat_type mt,drug_drug_type dt
    where ml.drug_id = dd.drug_id and ml.mat_id = mat.mat_id and mat.mt_id = mt.mt_id and dd.dt_id = dt.dt_id and ml.isva = '1' and dd.drug_id = #{record.drugId,jdbcType=VARCHAR} 
    <if test="record.matName != null and record.matName != ''">
   		and mat.mat_name like CONCAT(CONCAT('%',#{record.matName,jdbcType=VARCHAR},'%'))
   	</if>
   	<if test="record.mtId != null and record.mtId != '' ">
   		and mt.mt_id = #{record.mtId,jdbcType=VARCHAR}
   	</if>
   	<if test="record.dtId != null and record.dtId != '' ">
   		and dt.dt_id = #{record.dtId,jdbcType=VARCHAR}
   	</if>
   	<if test="record.amountMin !=null and record.amountMin != '' ">
   		and ml.ml_amount &gt; #{record.amountMin,jdbcType=VARCHAR}
   	</if>
   	<if test="record.amountMax !=null and record.amountMax !='' ">
   		and ml.ml_amount &lt; #{record.amountMax,jdbcType=VARCHAR}
   	</if>
   	<if test="record.priceMin !=null and record.priceMin != '' ">
   		and mat.mat_price &gt; #{record.priceMin,jdbcType=DECIMAL}
   	</if>
   	<if test="record.priceMax !=null and record.priceMax !='' ">
   		and mat.mat_price &lt; #{record.priceMax,jdbcType=DECIMAL}
   	</if>
   	order by (dd.sort+0) desc 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  </select>
  
  <select id="selectCountBySelective" parameterType="com.yidu.domain.Drug" resultType="int">
    select 
    count(*) 
    from drug_material_list ml,drug_drug dd,drug_material mat,drug_mat_type mt,drug_drug_type dt
    where ml.drug_id = dd.drug_id and ml.mat_id = mat.mat_id and mat.mt_id = mt.mt_id and dd.dt_id = dt.dt_id and ml.isva = '1' and dd.drug_id = #{drugId,jdbcType=VARCHAR} 
    <if test="matName != null and matName != ''">
   		and mat.mat_name like CONCAT(CONCAT('%',#{matName,jdbcType=VARCHAR},'%'))
   	</if>
   	<if test="mtId != null and mtId != ''">
   		and mt.mt_id = #{mtId,jdbcType=VARCHAR}
   	</if>
   	<if test="dtId != null and dtId != ''">
   		and dt.dt_id = #{dtId,jdbcType=VARCHAR}
   	</if>
   	<if test="amountMin !=null and amountMin != '' ">
   		and ml.ml_amount &gt; #{amountMin,jdbcType=VARCHAR}
   	</if>
   	<if test="amountMax !=null and amountMax !='' ">
   		and ml.ml_amount &lt; #{amountMax,jdbcType=VARCHAR}
   	</if>
   	<if test="priceMin !=null and priceMin !=''">
   		and dd.drug_price &gt; #{priceMin,jdbcType=DECIMAL}
   	</if>
   	<if test="priceMax !=null and priceMax !=''">
   		and dd.drug_price &lt; #{priceMax,jdbcType=DECIMAL}
   	</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_material_list
    where ml_id = #{mlId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.domain.MaterialList">
    insert into drug_material_list (ml_id, mat_id, drug_id, 
      ml_amount, isva, optime, 
      oper, sort)
    values (#{mlId,jdbcType=VARCHAR}, #{matId,jdbcType=VARCHAR}, #{drugId,jdbcType=VARCHAR}, 
      #{mlAmount,jdbcType=INTEGER}, #{isva,jdbcType=VARCHAR}, #{optime,jdbcType=TIMESTAMP}, 
      #{oper,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.domain.MaterialList">
  	<selectKey keyProperty="mlId" resultType="string" order="BEFORE">
	    SELECT REPLACE(UUID(),'-','') AS id;
	</selectKey>
    insert into drug_material_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mlId != null">
        ml_id,
      </if>
      <if test="matId != null">
        mat_id,
      </if>
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="mlAmount != null">
        ml_amount,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mlId != null">
        #{mlId,jdbcType=VARCHAR},
      </if>
      <if test="matId != null">
        #{matId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null">
        #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="mlAmount != null">
        #{mlAmount,jdbcType=INTEGER},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.MaterialList">
    update drug_material_list
    <set>
      <if test="matId != null">
        mat_id = #{matId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null">
        drug_id = #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="mlAmount != null">
        ml_amount = #{mlAmount,jdbcType=INTEGER},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where ml_id = #{mlId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.MaterialList">
    update drug_material_list
    set mat_id = #{matId,jdbcType=VARCHAR},
      drug_id = #{drugId,jdbcType=VARCHAR},
      ml_amount = #{mlAmount,jdbcType=INTEGER},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where ml_id = #{mlId,jdbcType=VARCHAR}
  </update>
</mapper>