<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.MatTypeMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.MatType">
    <id column="mt_id" jdbcType="VARCHAR" property="mtId" />
    <result column="mt_name" jdbcType="VARCHAR" property="mtName" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    mt_id, mt_name, isva, optime, oper, sort
  </sql>
  
  <select id="showList" parameterType="map" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from drug_mat_type where isva = '1'
	<if test="type.mtName!=null and type.mtName!='' ">
		and mt_name like concat('%', #{type.mtName} ,'%')
	</if>
	order by optime desc
	limit #{pageUtil.startRows},#{pageUtil.rows}
  </select>
  
  <select id="selectCount" parameterType="com.yidu.domain.MatType" resultType="int">
  	select count(*) from drug_mat_type where isva= '1'
  	<if test="mtName!=null and mtName!='' ">
		and mt_name like concat('%', #{mtName} ,'%')
	</if>
  </select>
  
  <!-- 材料类型批量修改为0 -->
  <update id="TypeupdateByPrimaryKeySelective">
    update drug_mat_type set isva = '0'
    where mt_id in 
    <foreach collection="list" item="ids" open="(" separator="," close=")">
      #{ids} 
    </foreach> 
  </update>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_mat_type
    where mt_id = #{mtId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_mat_type
    where mt_id = #{mtId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.domain.MatType">
    insert into drug_mat_type (mt_id, mt_name, isva, 
      optime, oper, sort
      )
    values (#{mtId,jdbcType=VARCHAR}, #{mtName,jdbcType=VARCHAR}, #{isva,jdbcType=VARCHAR}, 
      #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.domain.MatType">
    insert into drug_mat_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mtId != null">
        mt_id,
      </if>
      <if test="mtName != null">
        mt_name,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mtId != null">
        #{mtId,jdbcType=VARCHAR},
      </if>
      <if test="mtName != null">
        #{mtName,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.MatType">
    update drug_mat_type
    <set>
      <if test="mtName != null">
        mt_name = #{mtName,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where mt_id = #{mtId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.MatType">
    update drug_mat_type
    set mt_name = #{mtName,jdbcType=VARCHAR},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where mt_id = #{mtId,jdbcType=VARCHAR}
  </update>
</mapper>