<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.PmcDetailsMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.PmcDetails">
    <id column="pd_id" jdbcType="VARCHAR" property="pdId" />
    <result column="pmc_id" jdbcType="VARCHAR" property="pmcId" />
    <result column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="pd_amount" jdbcType="INTEGER" property="pdAmount" />
    <result column="pd_state" jdbcType="VARCHAR" property="pdState" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
  </resultMap>
  <resultMap id="BaseResultMapOne" type="com.yidu.domain.PmcDetails">
    <id column="pd_id" jdbcType="VARCHAR" property="pdId" />
    <result column="pmc_id" jdbcType="VARCHAR" property="pmcId" />
    <result column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="dt_id" jdbcType="VARCHAR" property="dtId" />
    <result column="pd_amount" jdbcType="INTEGER" property="pdAmount" />
    <result column="pd_state" jdbcType="VARCHAR" property="pdState" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="drug_unit" jdbcType="VARCHAR" property="drugUnit" />
    <result column="drug_prop" jdbcType="VARCHAR" property="drugProp" />
    <result column="dt_name" jdbcType="VARCHAR" property="dtName" />
  </resultMap>
  <resultMap id="BaseResultMapTwo" type="com.yidu.domain.PmcDetails">
    <result column="mat_id" jdbcType="VARCHAR" property="matId" />
    <result column="mi_id" jdbcType="VARCHAR" property="miId" />
    <result column="mat_name" jdbcType="VARCHAR" property="matName" />
    <result column="mi_amount" jdbcType="VARCHAR" property="miAmount" />
    <result column="mi_Name" jdbcType="VARCHAR" property="miName" />
    <result column="ml_amount" jdbcType="VARCHAR" property="mlAmount" />
  </resultMap>
  
  <sql id="Base_Column_List">
    pd_id, pmc_id, drug_id, pd_amount, pd_state, isva, optime, oper, sort
  </sql>
  
  <sql id="Base_Column_List_One">
    pd.pd_id, dd.drug_id, dp.pmc_name, dd.drug_name, pd.pd_amount, dd.drug_unit, dd.drug_prop, dt.dt_name
  </sql>
  
  <sql id="Base_Column_List_Two">
    mat.mat_id, mi.mi_id, mat.mat_name, mi.mi_amount, ml.ml_amount
  </sql>
  
  <select id="selectBySelective" parameterType="java.util.Map" resultMap="BaseResultMapOne">
    select 
    <include refid="Base_Column_List_One" />
    from drug_pmc_details pd,drug_pmc dp,drug_drug dd,drug_drug_type dt where pd.pmc_id = dp.pmc_id and pd.drug_id = dd.drug_id and dt.dt_id = dd.dt_id and pd.isva = '1' 
    <if test="record.pmcId !=null and record.pmcId !='' ">
    	and pd.pmc_id = #{record.pmcId,jdbcType=VARCHAR}
    </if>
    <if test="record.dtId != null and record.dtId != ''">
   		and dt.dt_id = #{record.dtId,jdbcType=VARCHAR}
   	</if>
    <if test="record.pmcName !=null and record.pmcName !='' ">
    	and pd.pmc_name like CONCAT('%',#{record.pmcName,jdbcType=VARCHAR},'%')
    </if>
    <if test="record.drugName !=null and record.drugName !='' ">
    	and dd.drug_name like CONCAT('%',#{record.drugName,jdbcType=VARCHAR},'%')
    </if>
    order by (dd.sort+0) desc 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  </select>
  
  <select id="selectCountBySelective" parameterType="com.yidu.domain.PmcDetails"  resultType="int">
    select 
    count(pd.pd_id) 
    from drug_pmc_details pd,drug_pmc dp,drug_drug dd,drug_drug_type dt where pd.pmc_id = dp.pmc_id and pd.drug_id = dd.drug_id and dt.dt_id = dd.dt_id and pd.isva = '1' 
    <if test="pmcId !=null and pmcId !='' ">
    	and pd.pmc_id = #{pmcName,jdbcType=VARCHAR}
    </if>
    <if test="dtId != null and dtId != ''">
   		and dt.dt_id = #{dtId,jdbcType=VARCHAR}
   	</if>
    <if test="pmcName !=null and pmcName !='' ">
    	and pd.pmc_name like CONCAT('%',#{pmcName,jdbcType=VARCHAR},'%')
    </if>
    <if test="drugName !=null and drugName !='' ">
    	and dd.drug_name like CONCAT('%',#{drugName,jdbcType=VARCHAR},'%')
    </if>
  </select>  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_pmc_details
    where pd_id = #{pdId,jdbcType=VARCHAR}
  </select>
  
  
  
   <select id="selectPmcId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *    from drug_pmc_details
    where pmc_id = #{pmcId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectMatInv" parameterType="String" resultMap="BaseResultMapTwo">
    select 
    <include refid="Base_Column_List_Two" />
    from drug_material_list ml,drug_material mat,drug_mat_inv mi 
    where ml.mat_id = mat.mat_id and mi.mat_id = mat.mat_id and ml.drug_id = #{drugId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_pmc_details
    where pd_id = #{pdId,jdbcType=VARCHAR}
  </delete>
    
  <insert id="insert" parameterType="com.yidu.domain.PmcDetails">
  	<selectKey keyProperty="pdId" resultType="string" order="BEFORE">
	    SELECT REPLACE(UUID(),'-','') AS id;
	</selectKey>
    insert into drug_pmc_details (pd_id, pmc_id, drug_id, 
      pd_amount, pd_state, isva, 
      optime, oper, sort
      )
    values (#{pdId,jdbcType=VARCHAR}, #{pmcId,jdbcType=VARCHAR}, #{drugId,jdbcType=VARCHAR}, 
      #{pdAmount,jdbcType=INTEGER}, #{pdState,jdbcType=VARCHAR}, #{isva,jdbcType=VARCHAR}, 
      #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.domain.PmcDetails">
  	<selectKey keyProperty="pdId" resultType="string" order="BEFORE">
	    SELECT REPLACE(UUID(),'-','') AS id;
	</selectKey>
    insert into drug_pmc_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pdId != null">
        pd_id,
      </if>
      <if test="pmcId != null">
        pmc_id,
      </if>
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="pdAmount != null">
        pd_amount,
      </if>
      <if test="pdState != null">
        pd_state,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pdId != null">
        #{pdId,jdbcType=VARCHAR},
      </if>
      <if test="pmcId != null">
        #{pmcId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null">
        #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="pdAmount != null">
        #{pdAmount,jdbcType=INTEGER},
      </if>
      <if test="pdState != null">
        #{pdState,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.PmcDetails">
    update drug_pmc_details
    <set>
      <if test="pmcId != null">
        pmc_id = #{pmcId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null">
        drug_id = #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="pdAmount != null">
        pd_amount = #{pdAmount,jdbcType=INTEGER},
      </if>
      <if test="pdState != null">
        pd_state = #{pdState,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where pd_id = #{pdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.PmcDetails">
    update drug_pmc_details
    set pmc_id = #{pmcId,jdbcType=VARCHAR},
      drug_id = #{drugId,jdbcType=VARCHAR},
      pd_amount = #{pdAmount,jdbcType=INTEGER},
      pd_state = #{pdState,jdbcType=VARCHAR},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where pd_id = #{pdId,jdbcType=VARCHAR}
  </update>
</mapper>