<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.PmcMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.Pmc">
    <id column="pmc_id" jdbcType="VARCHAR" property="pmcId" />
    <result column="pmc_name" jdbcType="VARCHAR" property="pmcName" />
    <result column="pmc_amount" jdbcType="INTEGER" property="pmcAmount" />
    <result column="pmc_start" jdbcType="TIMESTAMP" property="pmcStart" />
    <result column="pmc_end" jdbcType="TIMESTAMP" property="pmcEnd" />
    <result column="pmc_state" jdbcType="VARCHAR" property="pmcState" />
    <result column="com_name" jdbcType="VARCHAR" property="comName" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
  </resultMap>
  <resultMap id="BaseResultMapOne" type="com.yidu.domain.Pmc">
    <id column="pmc_id" jdbcType="VARCHAR" property="pmcId" />
    <result column="pmc_name" jdbcType="VARCHAR" property="pmcName" />
    <result column="pmc_amount" jdbcType="INTEGER" property="pmcAmount" />
    <result column="pmc_start" jdbcType="TIMESTAMP" property="pmcStart" />
    <result column="pmc_end" jdbcType="TIMESTAMP" property="pmcEnd" />
    <result column="pmc_state" jdbcType="VARCHAR" property="pmcState" />
    <result column="com_name" jdbcType="VARCHAR" property="comName" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="min_amount" jdbcType="VARCHAR" property="minAmount" />
    <result column="max_amount" jdbcType="VARCHAR" property="maxAmount" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="start_times" jdbcType="TIMESTAMP" property="startTimes" />
    <result column="end_times" jdbcType="TIMESTAMP" property="endTimes" />
  </resultMap>
  
  <sql id="Base_Column_List">
    pmc_id, pmc_name, pmc_amount, pmc_start, pmc_end, pmc_state, com_name, isva, optime, oper, sort
  </sql>
  
  <select id="selectBySelective" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_pmc where isva = '1'
    <if test="record.pmcName != null and record.pmcName != ''">
   		and pmc_name like CONCAT('%',#{record.pmcName,jdbcType=VARCHAR},'%')
   	</if>
   	<if test="record.comName != null and record.comName != ''">
   		and com_name like CONCAT('%',#{record.comName,jdbcType=VARCHAR},'%')
   	</if>
    <if test="record.minAmount != null and record.minAmount != ''">
   		and pmc_amount &gt; #{record.minAmount,jdbcType=VARCHAR}
   	</if>
   	<if test="record.maxAmount != null and record.maxAmount != ''">
   		and pmc_amount &lt; #{record.maxAmount,jdbcType=VARCHAR}
   	</if>
   	<if test="record.startTime != null and record.startTime != ''">
   		and pmc_start &gt; #{record.startTime,jdbcType=TIMESTAMP}
   	</if>
   	<if test="record.endTime != null and record.endTime != ''">
   		and pmc_start &lt; #{record.endTime,jdbcType=TIMESTAMP}
   	</if>
   	<if test="record.startTimes != null and record.startTimes != ''">
   		and pmc_end &gt; #{record.startTimes,jdbcType=TIMESTAMP}
   	</if>
   	<if test="record.endTimes != null and record.endTimes != ''">
   		and pmc_end &lt; #{record.endTimes,jdbcType=TIMESTAMP}
   	</if>
   	<if test="record.pmcState != null and record.pmcState != ''">
   		and pmc_state = #{record.pmcState,jdbcType=VARCHAR}
   	</if>
   	order by (sort+0) desc 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
  </select>
  
  <select id="selectCountBySelective" parameterType="com.yidu.domain.Pmc" resultType="int">
    select 
    count(pmc_id) 
    from drug_pmc where isva = '1'
    <if test="pmcName != null and pmcName != ''">
   		and pmc_name like CONCAT('%',#{pmcName,jdbcType=VARCHAR},'%')
   	</if>
   	<if test="comName != null and comName != ''">
   		and com_name like CONCAT('%',#{record.comName,jdbcType=VARCHAR},'%')
   	</if>
    <if test="minAmount != null and minAmount != ''">
   		and pmc_amount &gt; #{minAmount,jdbcType=VARCHAR}
   	</if>
   	<if test="maxAmount != null and maxAmount != ''">
   		and pmc_amount &lt; #{maxAmount,jdbcType=VARCHAR}
   	</if>
   	<if test="startTime != null and startTime != ''">
   		and pmc_start &gt; #{startTime,jdbcType=TIMESTAMP}
   	</if>
   	<if test="endTime != null and endTime != ''">
   		and pmc_start &lt; #{endTime,jdbcType=TIMESTAMP}
   	</if>
   	<if test="startTimes != null and startTimes != ''">
   		and pmc_end &gt; #{startTimes,jdbcType=TIMESTAMP}
   	</if>
   	<if test="endTimes != null and endTimes != ''">
   		and pmc_end &lt; #{endTimes,jdbcType=TIMESTAMP}
   	</if>
   	<if test="pmcState != null and pmcState != ''">
   		and pmc_state = #{pmcState,jdbcType=VARCHAR}
   	</if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_pmc
    where pmc_id = #{pmcId,jdbcType=VARCHAR}
  </select>
  
  <select id="check" parameterType="java.lang.String" resultType="int">
    select
    count(dp.pmc_id)
    from drug_pmc dp,drug_pmc_details pd 
    where dp.pmc_id = pd.pmc_id and dp.pmc_id = #{pmcId,jdbcType=VARCHAR} and dp.isva = '1' and pd.isva = '1'
  </select>
  
  <select id="isCheck" parameterType="java.lang.String" resultType="int">
    select
    count(dp.pmc_id)
    from drug_pmc dp,drug_audit da 
    where dp.pmc_id = da.aud_fk_id and dp.pmc_id = #{pmcId,jdbcType=VARCHAR} and dp.isva = '1' and da.isva = '1'
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_pmc
    where pmc_id = #{pmcId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.domain.Pmc">
  	<selectKey keyProperty="pmcId" resultType="string" order="BEFORE">
	    SELECT REPLACE(UUID(),'-','') AS id;
	</selectKey>
    insert into drug_pmc (pmc_id, pmc_name, pmc_amount, pmc_start, 
      pmc_end, pmc_state, com_name, isva, 
      optime, oper, sort
      )
    values (#{pmcId,jdbcType=VARCHAR}, #{pmcName,jdbcType=VARCHAR}, #{pmcAmount,jdbcType=INTEGER}, #{pmcStart,jdbcType=TIMESTAMP}, 
      #{pmcEnd,jdbcType=TIMESTAMP}, #{pmcState,jdbcType=VARCHAR} ,#{comName,jdbcType=VARCHAR}, #{isva,jdbcType=VARCHAR}, 
      #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.domain.Pmc">
  	<selectKey keyProperty="pmcId" resultType="string" order="BEFORE">
	    SELECT REPLACE(UUID(),'-','') AS id;
	</selectKey>
    insert into drug_pmc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pmcId != null">
        pmc_id,
      </if>
      <if test="pmcName != null">
        pmc_name,
      </if>
      <if test="pmcAmount != null">
        pmc_amount,
      </if>
      <if test="pmcStart != null">
        pmc_start,
      </if>
      <if test="pmcEnd != null">
        pmc_end,
      </if>
      <if test="pmcState != null">
        pmc_state,
      </if>
      <if test="comName != null">
        com_name,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pmcId != null">
        #{pmcId,jdbcType=VARCHAR},
      </if>
      <if test="pmcName != null">
        #{pmcName,jdbcType=VARCHAR},
      </if>
      <if test="pmcAmount != null">
        #{pmcAmount,jdbcType=INTEGER},
      </if>
      <if test="pmcStart != null">
        #{pmcStart,jdbcType=TIMESTAMP},
      </if>
      <if test="pmcEnd != null">
        #{pmcEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="pmcState != null">
        #{pmcState,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="bulkDeleteByPrimaryKeySelective">
    update drug_pmc set isva = '0',optime = sysdate() 
    where pmc_id in 
    <foreach collection="list" item="ids" open="(" separator="," close=")">
      #{ids} 
    </foreach> 
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.Pmc">
    update drug_pmc
    <set>
      <if test="pmcName != null">
        pmc_name = #{pmcName,jdbcType=INTEGER},
      </if>
      <if test="pmcAmount != null">
        pmc_amount = #{pmcAmount,jdbcType=INTEGER},
      </if>
      <if test="pmcStart != null">
        pmc_start = #{pmcStart,jdbcType=TIMESTAMP},
      </if>
      <if test="pmcEnd != null">
        pmc_end = #{pmcEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="pmcState != null">
        pmc_state = #{pmcState,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        com_name = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where pmc_id = #{pmcId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.Pmc">
    update drug_pmc
    set pmc_name = #{pmcName,jdbcType=VARCHAR},
      pmc_amount = #{pmcAmount,jdbcType=INTEGER},
      pmc_start = #{pmcStart,jdbcType=TIMESTAMP},
      pmc_end = #{pmcEnd,jdbcType=TIMESTAMP},
      pmc_state = #{pmcState,jdbcType=VARCHAR},
      com_name = #{comName,jdbcType=VARCHAR},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where pmc_id = #{pmcId,jdbcType=VARCHAR}
  </update>
</mapper>