<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.QcMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.Qc">
    <id column="qc_id" jdbcType="VARCHAR" property="qcId" />
    <result column="pmc_id" jdbcType="VARCHAR" property="pmcId" />
    <result column="qc_amount" jdbcType="INTEGER" property="qcAmount" />
    <result column="qc_fail" jdbcType="INTEGER" property="qcFail" />
    <result column="qc_rate" jdbcType="VARCHAR" property="qcRate" />
    <result column="qc_optime" jdbcType="TIMESTAMP" property="qcOptime" />
    <result column="qc_conpany" jdbcType="VARCHAR" property="qcConpany" />
    <result column="qc_type" jdbcType="INTEGER" property="qcType" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="buy_amount" jdbcType="VARCHAR" property="buyAmount" />
    <result column="com_name" jdbcType="VARCHAR" property="comName" />
    <result column="qc_state" jdbcType="VARCHAR" property="qcState" />
    <result column="qc_put" jdbcType="VARCHAR" property="qcPut" />
    
  </resultMap>
  <sql id="Base_Column_List">
    qc_id, mrp_id, qc_amount, qc_fail, qc_rate, qc_optime, qc_conpany, qc_type, isva, 
    optime, oper, sort,qc_state
  </sql>
  <!-- 根据id查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_qc
    where qc_id = #{qcId,jdbcType=VARCHAR}
  </select>
  <select id="selectqctype" parameterType="java.util.Map" resultMap="BaseResultMap">
    select  * from drug_qc  where    qc_type =  0  
     <if test="qc.qcConpany != null and qc.qcConpany != ''">
   		and qc_conpany like CONCAT(CONCAT('%',#{qc.qcConpany,jdbcType=VARCHAR},'%'))
   	</if>
     order by (sort+0) desc 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
    
  </select>
  
  <select id="branchQuality" parameterType="java.util.Map" resultMap="BaseResultMap">
     SELECT * FROM drug_qc a,drug_buy_detail b,drug_company c WHERE a.pmc_id=b.buy_id AND a.qc_conpany=c.com_id 
    AND a.qc_type=3 ORDER BY (a.sort+0) DESC 
   	limit #{pageUtil.startRows,jdbcType=INTEGER},#{pageUtil.rows,jdbcType=INTEGER}
    
  </select>
  
  
    <select id="selectCountBySelective" parameterType="com.yidu.domain.Qc" resultType="int">
	    SELECT  COUNT(*)  FROM    drug_qc  where    qc_type = 0  
	    <if test="qcConpany != null and qcConpany != ''">
	   		and qc_conpany like CONCAT(CONCAT('%',#{qcConpany,jdbcType=VARCHAR},'%'))
	   	</if>
  </select>
   
   <!-- 邓康威 -->
   <!-- 质检查询所有  有质检、采购订单、分店 ,根据质检时间排序 ,分页-->
   <select id="showList" parameterType="map" resultMap="BaseResultMap">
  	SELECT * FROM drug_qc a,drug_buy b,drug_company c 
  	WHERE a.pmc_id=b.buy_id AND a.qc_conpany=c.com_id
  	ORDER BY a.optime desc
  	limit #{page.startRows},#{page.rows}
  </select>
  
  <!-- 邓康威 -->
  <!-- 质检查询总行数  有质检、采购订单、分店 -->
  <select id="selectCount" parameterType="com.yidu.domain.Qc" resultType="int">
  	SELECT count(*) FROM drug_qc a,drug_buy b,drug_company c WHERE a.pmc_id=b.buy_id AND a.qc_conpany=c.com_id
  </select>
  
  
  <!-- 邓康威 -->
  <!-- 根据质检id查询质检、质检明细 -->
  <select id="findById" parameterType="string" resultMap="BaseResultMap">
  	SELECT * FROM drug_qc a,drug_qc_detail b WHERE a.qc_id=b.qc_id AND a.qc_id=#{qcId}
  </select>
  <!-- 删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_qc
    where qc_id = #{qcId,jdbcType=VARCHAR}
  </delete>
  <!-- 增加 -->
  <insert id="insert" parameterType="com.yidu.domain.Qc">
    insert into drug_qc (qc_id, pmc_id, qc_amount, 
      qc_fail, qc_rate, qc_optime, 
      qc_conpany, qc_type, isva, 
      optime, oper, sort,qc_state,qc_put
      )
    values (#{qcId,jdbcType=VARCHAR}, #{pmcId,jdbcType=VARCHAR}, #{qcAmount,jdbcType=INTEGER}, 
      #{qcFail,jdbcType=INTEGER}, #{qcRate,jdbcType=DECIMAL}, #{qcOptime,jdbcType=TIMESTAMP}, 
      #{qcConpany,jdbcType=VARCHAR}, #{qcType,jdbcType=VARCHAR}, #{isva,jdbcType=VARCHAR}, 
      #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}, #{qcState,jdbcType=VARCHAR},
      #{qcPut,jdbcType=VARCHAR}
      )
  </insert>
  <!-- 增加 -->
  <insert id="insertSelective" parameterType="com.yidu.domain.Qc">
    insert into drug_qc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qcId != null">
        qc_id,
      </if>
      <if test="pmcId != null">
        pmc_id,
      </if>
      <if test="qcAmount != null">
        qc_amount,
      </if>
      <if test="qcFail != null">
        qc_fail,
      </if>
      <if test="qcRate != null">
        qc_rate,
      </if>
      <if test="qcOptime != null">
        qc_optime,
      </if>
      <if test="qcConpany != null">
        qc_conpany,
      </if>
      <if test="qcType != null">
        qc_type,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="qcState != null">
        qc_state,
      </if>
      <if test="qcPut != null">
        qc_put,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qcId != null">
        #{qcId,jdbcType=VARCHAR},
      </if>
      <if test="pmcId != null">
        #{pmcId,jdbcType=VARCHAR},
      </if>
      <if test="qcAmount != null">
        #{qcAmount,jdbcType=INTEGER},
      </if>
      <if test="qcFail != null">
        #{qcFail,jdbcType=INTEGER},
      </if>
      <if test="qcRate != null">
        #{qcRate,jdbcType=DECIMAL},
      </if>
      <if test="qcOptime != null">
        #{qcOptime,jdbcType=TIMESTAMP},
      </if>
      <if test="qcConpany != null">
        #{qcConpany,jdbcType=VARCHAR},
      </if>
      <if test="qcType != null">
        #{qcType,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
      <if test="qcState != null">
        #{qcState,jdbcType=VARCHAR},
      </if>
      <if test="qcPut != null">
        #{qcPut,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.Qc">
    update drug_qc
    <set>
      <if test="pmcId != null">
        pmc_id = #{pmcId,jdbcType=VARCHAR},
      </if>
      <if test="qcAmount != null">
        qc_amount = #{qcAmount,jdbcType=INTEGER},
      </if>
      <if test="qcFail != null">
        qc_fail = #{qcFail,jdbcType=INTEGER},
      </if>
      <if test="qcRate != null">
        qc_rate = #{qcRate,jdbcType=DECIMAL},
      </if>
      <if test="qcOptime != null">
        qc_optime = #{qcOptime,jdbcType=TIMESTAMP},
      </if>
      <if test="qcConpany != null">
        qc_conpany = #{qcConpany,jdbcType=VARCHAR},
      </if>
      <if test="qcType != null">
        qc_type = #{qcType,jdbcType=VARCHAR},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
      <if test="qcState != null">
        qc_state = #{qcState,jdbcType=VARCHAR},
      </if>
      <if test="qcPut != null">
        qc_put = #{qcPut,jdbcType=VARCHAR},
      </if>
    </set>
    where qc_id = #{qcId,jdbcType=VARCHAR}
  </update>
  <!-- 修改 -->
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.Qc">
    update drug_qc
    set mrp_id = #{mrpId,jdbcType=VARCHAR},
      qc_amount = #{qcAmount,jdbcType=INTEGER},
      qc_fail = #{qcFail,jdbcType=INTEGER},
      qc_rate = #{qcRate,jdbcType=DECIMAL},
      qc_optime = #{qcOptime,jdbcType=TIMESTAMP},
      qc_conpany = #{qcConpany,jdbcType=VARCHAR},
      qc_type = #{qcType,jdbcType=VARCHAR},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR},
      qc_state = #{qcState,jdbcType=VARCHAR},
      qc_put = #{qcPut,jdbcType=VARCHAR}
    where qc_id = #{qcId,jdbcType=VARCHAR}
  </update>
</mapper>