<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.SaleMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.Sale">
    <id column="sale_id" jdbcType="VARCHAR" property="saleId" />
    <result column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="sale_time" jdbcType="TIMESTAMP" property="saleTime" />
    <result column="sale_amount" jdbcType="INTEGER" property="saleAmount" />
    <result column="sale_money" jdbcType="DECIMAL" property="saleMoney" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
  </resultMap>
  <resultMap id="BaseResultMapOne" type="com.yidu.domain.Sale">
    <id column="sale_id" jdbcType="VARCHAR" property="saleId" />
    <result column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="sale_time" jdbcType="TIMESTAMP" property="saleTime" />
    <result column="sale_amount" jdbcType="INTEGER" property="saleAmount" />
    <result column="sale_money" jdbcType="DECIMAL" property="saleMoney" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
  </resultMap>
  <sql id="Base_Column_List">
    sale_id, drug_id, sale_time, sale_amount, sale_money, isva, optime, oper, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_sale
    where sale_id = #{saleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_sale
    where sale_id = #{saleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.domain.Sale">
    insert into drug_sale (sale_id, drug_id, sale_time, 
      sale_amount, sale_money, isva, 
      optime, oper, sort
      )
    values (#{saleId,jdbcType=VARCHAR}, #{drugId,jdbcType=VARCHAR}, #{saleTime,jdbcType=TIMESTAMP}, 
      #{saleAmount,jdbcType=INTEGER}, #{saleMoney,jdbcType=DECIMAL}, #{isva,jdbcType=VARCHAR}, 
      #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.domain.Sale">
    insert into drug_sale
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="saleId != null">
        sale_id,
      </if>
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="saleTime != null">
        sale_time,
      </if>
      <if test="saleAmount != null">
        sale_amount,
      </if>
      <if test="saleMoney != null">
        sale_money,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="saleId != null">
        #{saleId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null">
        #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="saleTime != null">
        #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="saleAmount != null">
        #{saleAmount,jdbcType=INTEGER},
      </if>
      <if test="saleMoney != null">
        #{saleMoney,jdbcType=DECIMAL},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.Sale">
    update drug_sale
    <set>
      <if test="drugId != null">
        drug_id = #{drugId,jdbcType=VARCHAR},
      </if>
      <if test="saleTime != null">
        sale_time = #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="saleAmount != null">
        sale_amount = #{saleAmount,jdbcType=INTEGER},
      </if>
      <if test="saleMoney != null">
        sale_money = #{saleMoney,jdbcType=DECIMAL},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where sale_id = #{saleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.Sale">
    update drug_sale
    set drug_id = #{drugId,jdbcType=VARCHAR},
      sale_time = #{saleTime,jdbcType=TIMESTAMP},
      sale_amount = #{saleAmount,jdbcType=INTEGER},
      sale_money = #{saleMoney,jdbcType=DECIMAL},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where sale_id = #{saleId,jdbcType=VARCHAR}
  </update>
  <!-- 查询所有 -->
  <select id="selectAll" parameterType="map" resultMap="BaseResultMapOne">
  	SELECT sa.*,dr.drug_name FROM drug_sale sa,drug_drug dr WHERE sa.drug_id=dr.drug_id AND sa.isva = '1'
  	  <if test="sale.drugName != null and sale.drugName != '' ">
       and dr.drug_Name = #{sale.drug_Name,jdbcType=VARCHAR}
      </if>
      <if test="sale.saleTime != null and sale.saleTime != '' ">
       and sa.sale_time = #{sale.saleTime,jdbcType=TIMESTAMP}
      </if>
      <if test="sale.saleAmount != null and sale.saleAmount != '' ">
       and sa.sale_amount = #{sale.saleAmount,jdbcType=VARCHAR}
      </if>
      <if test="sale.saleMoney != null and sale.saleMoney != '' ">
       and sa.sale_money &gt; #{sale.priceMin,jdbcType=DECIMAL}
      </if>
       <if test="sale.saleMoney != null and sale.saleMoney != '' ">
       and sa.sale_money &lt; #{sale.priceMax,jdbcType=DECIMAL}
      </if>
  	 order by (sa.sort+0) desc
  	 limit #{util.startRows},#{util.rows}
  </select>
</mapper>