<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.dao.SaleDetailMapper">
  <resultMap id="BaseResultMap" type="com.yidu.domain.SaleDetail">
    <id column="sd_id" jdbcType="VARCHAR" property="sdId" />
    <result column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="sale_id" jdbcType="VARCHAR" property="saleId" />
    <result column="sd_amount" jdbcType="INTEGER" property="sdAmount" />
    <result column="sd_price" jdbcType="DECIMAL" property="sdPrice" />
    <result column="sd_total" jdbcType="DECIMAL" property="sdTotal" />
    <result column="isva" jdbcType="VARCHAR" property="isva" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    sd_id, sale_id, sd_amount, sd_price, sd_total, isva, optime, oper, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_sale_detail
    where sd_id = #{sdId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drug_sale_detail
    where sd_id = #{sdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.domain.SaleDetail">
    insert into drug_sale_detail (sd_id, sale_id, sd_amount, 
      sd_price, sd_total, isva, 
      optime, oper, sort
      )
    values (#{sdId,jdbcType=VARCHAR}, #{saleId,jdbcType=VARCHAR}, #{sdAmount,jdbcType=INTEGER}, 
      #{sdPrice,jdbcType=DECIMAL}, #{sdTotal,jdbcType=DECIMAL}, #{isva,jdbcType=VARCHAR}, 
      #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.domain.SaleDetail">
    insert into drug_sale_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sdId != null">
        sd_id,
      </if>
      <if test="saleId != null">
        sale_id,
      </if>
      <if test="sdAmount != null">
        sd_amount,
      </if>
      <if test="sdPrice != null">
        sd_price,
      </if>
      <if test="sdTotal != null">
        sd_total,
      </if>
      <if test="isva != null">
        isva,
      </if>
      <if test="optime != null">
        optime,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sdId != null">
        #{sdId,jdbcType=VARCHAR},
      </if>
      <if test="saleId != null">
        #{saleId,jdbcType=VARCHAR},
      </if>
      <if test="sdAmount != null">
        #{sdAmount,jdbcType=INTEGER},
      </if>
      <if test="sdPrice != null">
        #{sdPrice,jdbcType=DECIMAL},
      </if>
      <if test="sdTotal != null">
        #{sdTotal,jdbcType=DECIMAL},
      </if>
      <if test="isva != null">
        #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.domain.SaleDetail">
    update drug_sale_detail
    <set>
      <if test="saleId != null">
        sale_id = #{saleId,jdbcType=VARCHAR},
      </if>
      <if test="sdAmount != null">
        sd_amount = #{sdAmount,jdbcType=INTEGER},
      </if>
      <if test="sdPrice != null">
        sd_price = #{sdPrice,jdbcType=DECIMAL},
      </if>
      <if test="sdTotal != null">
        sd_total = #{sdTotal,jdbcType=DECIMAL},
      </if>
      <if test="isva != null">
        isva = #{isva,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        optime = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where sd_id = #{sdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.domain.SaleDetail">
    update drug_sale_detail
    set sale_id = #{saleId,jdbcType=VARCHAR},
      sd_amount = #{sdAmount,jdbcType=INTEGER},
      sd_price = #{sdPrice,jdbcType=DECIMAL},
      sd_total = #{sdTotal,jdbcType=DECIMAL},
      isva = #{isva,jdbcType=VARCHAR},
      optime = #{optime,jdbcType=TIMESTAMP},
      oper = #{oper,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR}
    where sd_id = #{sdId,jdbcType=VARCHAR}
  </update>
</mapper>